:global {
  .chart-header {
    height: 160px;
    background-color: #e3e6e9;
    background: url('./img/cart-header-bg.jpg') repeat-x left bottom;
  }
  .pay-chart-header {
    background: url('./img/mycart-header-bg.jpg') repeat-x left bottom;
  }

  .chart-header .chart-title {
    width: 1104px;
    height: 120px;
    line-height: 120px;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
  }
  .chart-header .chart-title p {
    font-size: 32px;
    line-height: 115px;
    margin-right: 25px;
    color: #07111b;
    font-weight: 200;
  }
  .confirm-wrap .cart-body {
    width: 1152px;
    padding: 0 36px 32px;
    background-color: #fff;
    margin-top: -40px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 8px 16px 0 rgba(7, 17, 27, .1);
    border-radius: 8px;
    box-sizing: border-box;

  }
  .confirm-wrap .cart-body .title-box {
    padding-top: 36px;
    padding-bottom: 24px;
  }
  .confirm-wrap .cart-body .title-box .goods-info-title {
    margin-left: 12px;
    color: #07111b;
    font-size: 16px;
    line-height: 16px;
    float: left;
  }
  .confirm-wrap .cart-body .title-box a {
    color: #93999f;
    font-size: 12px;
    line-height: 16px;
    float: right;

  }
  .confirm-wrap .cart-body .detail-box {
    width: 100%;

  }
  .confirm-wrap .cart-body .detail-box .item-cart ul {
    margin-top: 20px;
  }
  .confirm-wrap .cart-body .detail-box .item-cart ul li {
    padding: 24px;
    box-sizing: border-box;
    background: #f3f5f7;
    position: relative;
  }
  .confirm-wrap .cart-body .detail-box .item-cart ul li .item-img {
    float: left;
  }
  .confirm-wrap .cart-body .detail-box .item-cart ul li img {
    width: 160px;
    height: 90px;
    margin-right: 24px;
  }
  .confirm-wrap .cart-body .detail-box .item-cart ul li img {
    width: 160px;
    height: 90px;
    margin-right: 24px;
    display: block;
  }
  .confirm-wrap .cart-body .detail-box .item-cart ul li .text-info-box {
    width: 600px;
    height: 90px;
    margin-right: 0px;
  }
  .confirm-wrap .cart-body .detail-box .item-cart ul li .text-info-box p {
    margin: 0;
    font-size: 16px;
    color: #07111b;
    line-height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .confirm-wrap .cart-body .detail-box .item-cart ul li .info-price {
    position: absolute;
    margin-top: 35px;
    width: 286px;
    font-size: 16px;
    color: #f01414;
    top: 20px;
    right: 0px
  }
  .confirm-wrap .cart-body .pay-box {
    margin-top: 36px;

  }
  .confirm-wrap .cart-body .pay-box .goods-total-price-box {
    margin-bottom: 16px;
  }
  .confirm-wrap .cart-body .pay-box .goods-total-price-box .price-num {
    position: relative;
    font-size: 14px;
    line-height: 14px;
    color: #07111b;
    width: 140px;
    box-sizing: border-box;
    text-align: right;
    float: right;
  }
  .confirm-wrap .cart-body .pay-box .goods-total-price-box .price-num em {
    font-style: normal;
  }
  .confirm-wrap .cart-body .pay-box .goods-total-price-box .price-num.price {
    position: relative;
    color: #f01414;
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
  }
  .confirm-wrap .cart-body .pay-box .goods-total-price-box .price-text {
    text-align: right;
    font-size: 14px;
    color: #07111b;
    line-height: 14px;

  }
  .confirm-wrap .cart-body .pay-box .goods-total-price-box .price-text span {
    margin-left: 4px;
    margin-right: 4px;
    width: 140px;
    box-sizing: border-box;
    text-align: right;

  }
  .confirm-wrap .cart-body .pay-account-box {
    margin-bottom: 35px;
    margin-top: 20px;
  }
  .confirm-wrap .cart-body .pay-account-box .pay-account {
    font-size: 12px;
    color: #93999f;
    line-height: 24px;
    float: right;
  }
  .confirm-wrap .cart-body .buy-btn {
    padding: 0;
    width: 140px;
    height: 40px;
    text-align: center;
    font-size: 14px;
    line-height: 40px;
    cursor: pointer;
    transition: all .3s;
    color: #fff;
    background-color: #f20d0d;
    border-color: #f20d0d;
    opacity: 1;
    border-radius: 20px;
    position: relative;
    right: -940px !important;
    top: 20px;
    display: block;
  }
  .confirm-wrap .cart-body .buy-btn:hover {
    background-color: #90230d;
  }

  .pay-way {

    margin-right: 18px;
    border-radius: 6px;
    overflow: hidden;
    width: 192px;
    height: 86px;
    background-color: #f3f5f7;
    border: 2px solid #f3f5f7;
    cursor: pointer;
    background-image: url('./img/pay_s.png');
    background-position: 30px -423px;
    background-repeat: no-repeat;
    float: left;
    transition: .3s ease;
  }
  .alipay {
    background-image: url('./img/pay_s.png');
    background-position: 33px -304px;
    background-repeat: no-repeat;
    float: left;
  }

  .pay-way:hover {
    border: 2px solid red;
  }

  .success-btn{
    padding: 8px 52px;
    cursor: pointer;
    background: #383d42;
    border-radius: 24px;
    font-size: 14px;
    color: #fff;
    line-height: 20px;
  }

}

